@import url('https://fonts.googleapis.com/css2?family=Abel&family=Prompt:wght@900&family=Quicksand&family=Roboto:wght@900&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.coursesSection {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: rgba(217, 214, 214, 0.094);
    padding: 80px 110px;
}

.courseSection-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: BLack;
    overflow: hidden;
    line-height: 50px
}

.coursesSection-courses {
    display: flex;
    margin-top: 35px;
}

.courseSection-topics {

    display: flex;
    flex-direction: column;
}

.topic-head {
    color: rgba(0, 0, 0, 0.792) !important;
    font-weight: bold;
    padding: 30px 0px;
}

.courseSection-topics-name {
    cursor: pointer;
    font-size: 15px;
    padding: 30px 0px;
    color: rgba(27, 26, 26, 0.514);
    border-top: 2px solid rgba(14, 14, 14, 0.08);
}

.courseSection-topics-name:hover {
    color: black;
}

.coursesSection-details {
    background-color: #fff;
    margin: 25px 70px;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 35px 35px;
    box-shadow: 0 0 15px rgba(14, 14, 14, 0.112);
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.coursesSection-details.show {
    transform: translateX(0);
}


/* Responsive styles */

@media only screen and (max-width: 1479px) {
    .courseSection-heading {
        font-size: 42px;

    }

    .courseSection-topics-name {

        font-size: 13px;
    }

    .coursesSection-details {

        margin: 25px 50px;
        /* width: 90%; */
    }
}

@media only screen and (max-width: 1379px) {
    .courseSection-heading {
        font-size: 40px;

    }

    .courseSection-topics-name {

        font-size: 13px;
    }

    .coursesSection-details {

        margin: 25px 50px;
        /* width: 90%; */
    }
}

@media only screen and (max-width: 1359px) {
    .courseSection-heading {
        font-size: 40px;

    }

    .courseSection-topics-name {

        font-size: 11px;
    }

    .coursesSection-details {

        margin: 25px 60px;
        /* width: 575px; */
    }
}

@media only screen and (max-width: 1279px) {
    .courseSection-topics-name {

        font-size: 11px;
    }



    .coursesSection-details {

        margin: 25px 50px;
        /* width: 575px; */
    }
}

@media only screen and (max-width: 918px) {
    .courseSection-topics-name {
        font-size: 10px;
    }

    .topic-head {
        font-size: 10px;
    }


    .coursesSection-details {

        margin: 25px 40px;
        /* width: 575px; */
    }
}

@media only screen and (max-width: 858px) {
    @media only screen and (max-width: 918px) {
        .courseSection-topics-name {
            font-size: 10px;
        }

        .topic-head {
            font-size: 10px;
        }


        .coursesSection-details {
            margin-left: 50px;
            margin: 25px 40px 50px;
            /* width: 575px; */
        }
    }
}